table {
        font-family; 'Open Sans', sans-serif;
      background-color: dodgerblue;
      border: 1px solid #000;
      border-collapse: collapse;
}

th, td {
      color: #fff;
      border: 1px solid #000;
      padding: 5px;
}
ul {
    list-style-type: none;
}

body {
        font-family: 'Oxygen', 'Open Sans', sans-serif;

}

@media print {
        table {
            color: #000;
        }
        .noprint {
            display: none;
        }
}